body {
   color: #EE0000;
   background-color: #000;
    background-image: url("v7sa_2ggn_230508.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: adelia;
    src: url('adelia.ttf');
}

h2 {
    font-family: adelia, cursive;
    font-size: 2rem;
    
}

p {
    font-variant: small-caps;
    font-size: 1.4rem;
}
