body {
    color: #EE0000;
    background-color: #000;
    background-image: url("v7sa_2ggn_230508.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
   
}

a {
    color:darkslateblue;
    cursor:context-menu;
}

a:active {
    color:red;
}

a:visited {
    color:gray;
}

a:hover {
    color: deeppink;
}


h1, h2 {
    text-align: center;
    text-decoration: underline overline;
    
}

header {
    text-transform: uppercase;
}

main p {
    text-indent: 2rem;
    text-align: start;
}

p {
    font-variant: small-caps;
    font-size: 1.4rem;
}

@font-face {
    font-family: adelia;
    src: url('adelia.ttf');
}

h2 {
    font-family: adelia, cursive;
    font-size: 2rem;
    
}

.titulo-aula.texto-azul {
    color: blue;
}

.lista-aulas {
    letter-spacing: 1rem;
}

