body {
   color: #EE0000;
   background-color: #000;
    background-image: url("v7sa_2ggn_230508.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

